NODE_ENV="dev"
### Database Vars to format DB_URL: postgresql://username:password@host:port/database 
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="adeeb_db"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_MIGRATION_FOLDER="./drizzle"
