NODE_ENV="dev"
### Database Vars to format DB_URL: postgresql://username:password@host:port/database 
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="adeeb_db"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_MIGRATION_FOLDER="./drizzle"
### Cache
VALKEY_HOST="localhost"
VALKEY_PASSWORD="password"
VALKEY_PORT=6379
### JWT
JWT_PRIVATE_PATH="jwt_private_rsa256.key"
JWT_PUBLIC_PATH="jwt_public_rsa256.key"